html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

button {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer; }

.container {
  max-width: 72.5rem;
  margin: 0 auto;
  padding: 0 1rem; }
  @media only screen and (max-width: 62.5em) {
    .container {
      padding: 0 1.25rem; } }
  @media only screen and (max-width: 48em) {
    .container {
      max-width: 40rem; } }
  @media only screen and (max-width: 40em) {
    .container {
      padding: 0 0.625rem; } }

.main {
  background-color: #fff8f6;
  overflow-x: clip; }

body {
  color: #000;
  font-family: "Comfortaa", cursive;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2; }
  @media only screen and (max-width: 48em) {
    body {
      font-size: 0.625rem; } }

.heading-tertiary {
  font-family: "Yeseva One", cursive;
  font-size: 1.875rem; }
  @media only screen and (max-width: 48em) {
    .heading-tertiary {
      font-size: 1.25rem; } }
  @media only screen and (max-width: 30em) {
    .heading-tertiary {
      font-size: 0.938rem; } }

@media only screen and (max-width: 48em) {
  .paragraph {
    font-size: 0.625rem; } }

@media only screen and (max-width: 30em) {
  .paragraph {
    font-size: 0.5rem; } }

.menu__btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 1.875rem;
  height: 1.563rem;
  background-color: transparent; }
  .menu__btn span {
    height: 1px;
    width: 100%;
    background-color: #7b6152; }
  @media only screen and (max-width: 40em) {
    .menu__btn {
      display: flex; } }

.btn {
  padding: 1.125rem 3.375rem;
  background-color: #ffbd59;
  font-family: "Comfortaa", cursive;
  font-size: 0.875rem; }
  @media only screen and (max-width: 30em) {
    .btn {
      font-size: 0.625rem;
      padding: 0.875rem 2.5rem; } }

.top__wrapper {
  width: 23.125rem;
  padding: 9.375rem 0 15.625rem; }
  @media only screen and (max-width: 62.5em) {
    .top__wrapper {
      width: 20.813rem;
      padding: 5.938rem 0 4.375rem; } }
  @media only screen and (max-width: 48em) {
    .top__wrapper {
      width: 14.375rem; } }
  @media only screen and (max-width: 30em) {
    .top__wrapper {
      width: 11.25rem; } }
  .top__wrapper-title {
    margin-bottom: 0.938rem; }
    @media only screen and (max-width: 48em) {
      .top__wrapper-title {
        margin-bottom: 1.25rem; } }
    @media only screen and (max-width: 30em) {
      .top__wrapper-title {
        margin-bottom: 0.938rem; } }
  .top__wrapper-text {
    margin-bottom: 3rem; }
    @media only screen and (max-width: 48em) {
      .top__wrapper-text {
        margin-bottom: 1.25rem; } }
    @media only screen and (max-width: 30em) {
      .top__wrapper-text {
        margin-bottom: 0.938rem; } }

.top__inner {
  position: relative; }
  .top__inner-img {
    position: absolute;
    top: 0;
    left: 15rem; }
    @media only screen and (max-width: 62.5em) {
      .top__inner-img {
        left: 18.75rem; } }
    @media only screen and (max-width: 48em) {
      .top__inner-img {
        left: 11.25rem; } }
    @media only screen and (max-width: 30em) {
      .top__inner-img {
        left: 10.5rem; } }
    @media only screen and (max-width: 62.5em) {
      .top__inner-img img {
        width: 40.938rem; } }
    @media only screen and (max-width: 30em) {
      .top__inner-img img {
        width: 19.25rem; } }

.footer {
  padding: 2.5rem 0 2.188rem 0; }
  .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .footer__inner {
        flex-wrap: wrap; } }
    @media only screen and (max-width: 31.25em) {
      .footer__inner {
        flex-direction: column; } }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    width: 14.375rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__contacts {
        width: 100%;
        text-align: center;
        padding-top: 0.938rem; } }
  .footer__social {
    display: flex;
    gap: 0.938rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__social {
        justify-content: center; } }
  @media only screen and (max-width: 31.25em) {
    .footer {
      padding: 3.125rem 0;
      font-size: 0.875rem; } }

.email {
  margin: 1.063rem 0; }

.header {
  background-color: #fff8f6; }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .4rem; }

.phone {
  position: relative; }
  .phone::before {
    content: "";
    position: absolute;
    background-image: url(../images/phone.svg);
    background-repeat: no-repeat;
    width: 1.25rem;
    height: 1.25rem;
    left: -1rem;
    top: -.1rem; }
    @media only screen and (max-width: 48em) {
      .phone::before {
        width: 0.875rem;
        height: 0.875rem;
        left: -1rem;
        top: -.2rem;
        background-size: cover; } }

.menu__list {
  display: flex;
  gap: 1.25rem; }
  .menu__list-link {
    text-transform: uppercase; }

@media only screen and (max-width: 40em) {
  .menu__header {
    order: 1; } }

@media only screen and (max-width: 40em) {
  .menu__header-list {
    width: 10rem;
    background-color: #7b6152;
    color: #fff8f6;
    flex-direction: column;
    gap: 1.25rem 0;
    padding: 1.563rem 2.188rem 1.563rem 2.813rem;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-110%);
    transition: transform .5s ease;
    z-index: 5; }
    .menu__header-list.menu--open {
      transform: translateY(0); } }

@media only screen and (max-width: 31.25em) {
  .menu__footer {
    padding: 3.125rem 0;
    text-align: center; } }

@media only screen and (max-width: 31.25em) {
  .menu__footer-list {
    flex-direction: column; } }

.section-top {
  padding: 2.5rem 0 9rem 0; }
  @media only screen and (max-width: 30em) {
    .section-top {
      padding: 1.875rem 0 3.125rem; } }
