html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

button {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer; }

.container {
  max-width: 72.5rem;
  margin: 0 auto;
  padding: 0 1rem; }
  @media only screen and (max-width: 62.5em) {
    .container {
      padding: 0 20px; } }
  @media only screen and (max-width: 48em) {
    .container {
      max-width: 40rem; } }
  @media only screen and (max-width: 40em) {
    .container {
      padding: 0 10px; } }

.main {
  background-color: #fff8f6;
  overflow-x: clip; }

body {
  color: #000;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2; }
  @media only screen and (max-width: 48em) {
    body {
      font-size: 10px; } }

.heading-tertiary {
  font-family: "Yeseva One", cursive;
  font-size: 30px; }
  @media only screen and (max-width: 48em) {
    .heading-tertiary {
      font-size: 30px; } }
  @media only screen and (max-width: 30em) {
    .heading-tertiary {
      font-size: 15px; } }

.heading-secondary {
  font-size: 40px;
  font-family: "Yeseva One", cursive;
  font-weight: 400;
  margin-bottom: 15px; }
  @media only screen and (max-width: 48em) {
    .heading-secondary {
      font-size: 15px !important; } }

.heading-quaternary {
  margin-bottom: 16px;
  font-size: 16px;
  font-family: "Yeseva One", cursive;
  font-weight: 400; }
  @media only screen and (max-width: 48em) {
    .heading-quaternary {
      font-size: 12px;
      margin-bottom: 9px; } }

@media only screen and (max-width: 48em) {
  .paragraph {
    font-size: 10px; } }

@media only screen and (max-width: 30em) {
  .paragraph {
    font-size: 8px; } }

.about__inner {
  display: flex;
  align-items: center; }

.about__content {
  min-width: 370px; }
  @media only screen and (max-width: 62.5em) {
    .about__content {
      min-width: 300px; } }
  @media only screen and (max-width: 48em) {
    .about__content {
      min-width: 200px; } }
  @media only screen and (max-width: 30em) {
    .about__content {
      min-width: 170px; } }
  @media only screen and (max-width: 22.5em) {
    .about__content {
      min-width: 233px; } }
  .about__content-text {
    margin-bottom: 15px; }

.about__list {
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding: 0 0 48px 110px;
  flex-basis: 930px; }
  @media only screen and (max-width: 62.5em) {
    .about__list {
      padding-left: 20px; } }
  @media only screen and (max-width: 48em) {
    .about__list {
      gap: 0 10px; } }
  @media only screen and (max-width: 30em) {
    .about__list {
      align-items: flex-end;
      gap: 0 5px; } }

.about__item-img {
  margin-bottom: 10px; }
  @media only screen and (max-width: 48em) {
    .about__item-img--1, .about__item-img--3 {
      width: 120px; }
    .about__item-img--2 {
      width: 190px; } }

@media only screen and (max-width: 48em) and (max-width: 30em) {
  .about__item-img--1, .about__item-img--3 {
    width: 80px; }
  .about__item-img--2 {
    width: 140px; } }

@media only screen and (max-width: 48em) and (max-width: 22.5em) {
  .about__item-img--2, .about__item-img--3 {
    display: none; } }

.about__item-text {
  font-size: 11px; }
  @media only screen and (max-width: 30em) {
    .about__item-text {
      display: none; } }

.menu__btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  background-color: transparent; }
  .menu__btn span {
    height: 1px;
    width: 100%;
    background-color: #7b6152; }
  @media only screen and (max-width: 40em) {
    .menu__btn {
      display: flex; } }

.btn {
  padding: 18px 54px;
  background-color: #ffbd59;
  font-family: "Comfortaa", cursive;
  font-size: 14px; }
  @media only screen and (max-width: 30em) {
    .btn {
      padding: 14px 40px;
      font-size: 10px; } }
  @media only screen and (max-width: 48em) {
    .btn-section {
      padding: 12px 26px;
      font-size: 12px; } }

.course__item {
  position: relative;
  color: #fff;
  font-size: 11px;
  font-family: "Yeseva One", cursive; }
  .course__item-title, .course__item-time, .course__item-price {
    position: absolute;
    background-color: #bea495; }
  .course__item-title {
    padding: 15px;
    left: 10px;
    top: 45%; }
  .course__item-time {
    padding: 7px 10px;
    left: 10px;
    top: 60%; }
    .course__item-time span {
      font-size: 10px;
      font-family: "Comfortaa", cursive; }
  .course__item-price {
    padding: 19px 10px;
    right: 0;
    bottom: 2px; }

.products__content {
  gap: 50px 90px; }
  @media only screen and (max-width: 62.5em) {
    .products__content {
      gap: 65px; } }
  @media only screen and (max-width: 56.25em) {
    .products__content {
      grid-template-columns: 290px auto;
      gap: 30px 15px; } }
  @media only screen and (max-width: 30em) {
    .products__content {
      gap: 40px 7px; } }

.products__item {
  width: 290px;
  margin: 0 auto;
  text-align: center; }
  @media only screen and (max-width: 48em) {
    .products__item {
      width: 200px; } }
  @media only screen and (max-width: 30em) {
    .products__item {
      width: 150px; } }
  .products__item-img {
    margin-bottom: 8px; }
    @media only screen and (max-width: 48em) {
      .products__item-img {
        width: 200px;
        margin-bottom: 6px; } }
    @media only screen and (max-width: 30em) {
      .products__item-img {
        width: 150px; } }
  .products__item-price {
    margin-bottom: 12px; }
    @media only screen and (max-width: 48em) {
      .products__item-price {
        margin-bottom: 7px; } }
  .products__item-text {
    margin-bottom: 27px; }
    @media only screen and (max-width: 48em) {
      .products__item-text {
        margin-bottom: 18px; } }

@media only screen and (max-width: 56.25em) {
  .steps__title {
    font-size: 30px; } }

.steps__list {
  gap: 70px 25px;
  counter-reset: number; }
  @media only screen and (max-width: 70em) {
    .steps__list {
      gap: 25px 5px; } }
  @media only screen and (max-width: 56.25em) {
    .steps__list {
      gap: 25px 35px; } }
  @media only screen and (max-width: 30em) {
    .steps__list {
      gap: 25px 20px; } }

.steps__item {
  display: flex;
  gap: 40px;
  list-style-type: none;
  position: relative; }
  @media only screen and (max-width: 70em) {
    .steps__item {
      gap: 0 5px; } }
  @media only screen and (max-width: 56.25em) {
    .steps__item {
      gap: 0 20px; } }
  @media only screen and (max-width: 30em) {
    .steps__item {
      gap: 0 15px; } }
  .steps__item::before {
    counter-increment: number;
    content: "0" counter(number);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 30px;
    color: #bea495;
    font-family: "Yeseva One", cursive; }
    @media only screen and (max-width: 56.25em) {
      .steps__item::before {
        font-size: 20px; } }
  .steps__item--even::before {
    left: auto;
    right: 0; }
  .steps__item:nth-child(n + 10)::before {
    content: counter(number); }
  .steps__item-text {
    flex-basis: 174px;
    padding-bottom: 40px; }
  @media only screen and (max-width: 56.25em) {
    .steps__item-img {
      width: 85px;
      object-fit: cover; } }
  @media only screen and (max-width: 30em) {
    .steps__item-img {
      width: 66px; } }

.top__wrapper {
  width: 370px;
  padding: 150px 0 250px; }
  @media only screen and (max-width: 62.5em) {
    .top__wrapper {
      width: 333px;
      padding: 95px 0 70px; } }
  @media only screen and (max-width: 48em) {
    .top__wrapper {
      width: 230px;
      position: inherit;
      z-index: 10; } }
  @media only screen and (max-width: 30em) {
    .top__wrapper {
      width: 180px;
      z-index: 0; } }
  .top__wrapper-title {
    margin-bottom: 15px; }
    @media only screen and (max-width: 48em) {
      .top__wrapper-title {
        margin-bottom: 20px; } }
    @media only screen and (max-width: 30em) {
      .top__wrapper-title {
        margin-bottom: 15px; } }
  .top__wrapper-text {
    margin-bottom: 48px; }
    @media only screen and (max-width: 48em) {
      .top__wrapper-text {
        margin-bottom: 20px; } }
    @media only screen and (max-width: 30em) {
      .top__wrapper-text {
        margin-bottom: 15px; } }

.top__inner {
  position: relative; }
  .top__inner-img {
    position: absolute;
    top: 0;
    left: 240px; }
    @media only screen and (max-width: 62.5em) {
      .top__inner-img {
        left: 300px; } }
    @media only screen and (max-width: 48em) {
      .top__inner-img {
        left: 180px; } }
    @media only screen and (max-width: 30em) {
      .top__inner-img {
        left: 168px; } }
    @media only screen and (max-width: 62.5em) {
      .top__inner-img img {
        width: 655px; } }
    @media only screen and (max-width: 30em) {
      .top__inner-img img {
        width: 300px; } }

.footer {
  padding: 40px 0 35px 0; }
  .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .footer__inner {
        flex-wrap: wrap; } }
    @media only screen and (max-width: 31.25em) {
      .footer__inner {
        flex-direction: column; } }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    width: 230px; }
    @media only screen and (max-width: 56.25em) {
      .footer__contacts {
        width: 100%;
        text-align: center;
        padding-top: 15px; } }
  .footer__social {
    display: flex;
    gap: 15px; }
    @media only screen and (max-width: 56.25em) {
      .footer__social {
        justify-content: center; } }
  @media only screen and (max-width: 31.25em) {
    .footer {
      padding: 50px 0;
      font-size: 14px; } }

.email {
  margin: 17px 0; }

.header {
  background-color: #fff8f6; }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px; }

.phone {
  position: relative; }
  .phone::before {
    content: "";
    position: absolute;
    background-image: url(../images/phone.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    left: -16px;
    top: -2px; }
    @media only screen and (max-width: 48em) {
      .phone::before {
        width: 14px;
        height: 14px;
        left: -16px;
        top: -3px;
        background-size: cover; } }

.menu__list {
  display: flex;
  gap: 20px; }
  .menu__list-link {
    text-transform: uppercase; }

@media only screen and (max-width: 40em) {
  .menu__header {
    order: 1; } }

@media only screen and (max-width: 40em) {
  .menu__header-list {
    width: 160px;
    background-color: #7b6152;
    color: #fff8f6;
    flex-direction: column;
    gap: 20px 0;
    padding: 25px 35px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-110%);
    transition: transform .5s ease;
    z-index: 5; }
    .menu__header-list.menu--open {
      transform: translateY(0); } }

@media only screen and (max-width: 31.25em) {
  .menu__footer {
    padding: 50px 0;
    text-align: center; } }

@media only screen and (max-width: 31.25em) {
  .menu__footer-list {
    flex-direction: column; } }

.section-top {
  padding: 40px 0 145px 0; }
  @media only screen and (max-width: 30em) {
    .section-top {
      padding: 30px 0 50px; } }

.section-about {
  background-color: #a5978e;
  padding: 50px 0;
  color: #fafafa;
  margin-bottom: 150px; }
  @media only screen and (max-width: 40em) {
    .section-about {
      margin-bottom: 50px; } }
  @media only screen and (max-width: 22.5em) {
    .section-about {
      padding: 25px 0 10px 0; } }

.section-main {
  padding-bottom: 150px; }
  @media only screen and (max-width: 40em) {
    .section-main {
      padding-bottom: 50px; } }

.section-inner {
  display: grid;
  grid-template-columns: 370px auto; }
  @media only screen and (max-width: 62.5em) {
    .section-inner {
      grid-template-columns: 290px auto;
      gap: 0 10px; } }
  @media only screen and (max-width: 56.25em) {
    .section-inner {
      grid-template-columns: 200px auto; } }
  @media only screen and (max-width: 40em) {
    .section-inner {
      display: block; } }

.section-descr {
  margin-bottom: 30px; }
  @media only screen and (max-width: 40em) {
    .section-descr {
      width: 300px;
      margin: 0 auto 30px;
      text-align: center; } }
  @media only screen and (max-width: 30em) {
    .section-descr {
      width: 235px;
      margin: 0 auto 25px; } }

.section-content {
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 90px; }
  @media only screen and (max-width: 40em) {
    .section-content {
      padding-bottom: 62px; } }

.section-decor {
  position: relative; }
  .section-decor::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-image: url(../images/candle-decor.png);
    width: 22px;
    height: 30px; }
  .section-decor::after {
    position: absolute;
    content: "";
    background-color: #7b6152;
    width: 1000%;
    height: 1px;
    left: 22px;
    bottom: 10px; }
