$color-primary-light: #fff8f6;
$color-primary-dark: #7b6152;
$color-secondary: #ffbd59;
$color-secondary-light: #bea495;
$color-secondary-dark: #a5978e;
$color-light: #fafafa;
$color-dark: #000;

$font-size-title: 40px;
$default-font-size: 14px; //14px
$responsive-font-size: 10px; //10px
$responsive-font-size-1: 8px; //8px

$font-family-primary: "Comfortaa", cursive;
$font-family-secondary: "Yeseva One", cursive;

//  RESPONSIVE BREAKPOINTS
$bp-largest: 62.5em; //1000px
$bp-largest-1: 56.25em; //900px
$bp-large: 48em; //768px
$bp-large-1: 40em; //640px
$bp-large-2: 31.25em; //500px
$bp-medium: 30em; //480px
$bp-small: 22.5em; //360px
