.header {
  background-color: $color-primary-light;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
  }
}

.phone {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../images/phone.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    left: -16px;
    top: -2px;

     @media only screen and (max-width: $bp-large) {
        width: 14px;
        height: 14px;
        left: -16px;
        top: -3px;
        background-size: cover;
    }
  }
}