.menu {
  &__list {
    display: flex;
    gap: 1.25rem;

    &-link {
      text-transform: uppercase;
    }
  }

  &__header {
      @media only screen and (max-width: $bp-large-1) {
        order: 1;
      }
      &-list {
        @media only screen and (max-width: $bp-large-1) {
          display: none;
        }
      }
   }

   &__footer {
      @media only screen and (max-width: $bp-large-2) {
        padding: 3.125rem 0;
        text-align: center;
      }

      &-list {
        @media only screen and (max-width: $bp-large-2) {
          flex-direction: column;
        }
      }
   }
}