.menu {
  &__list {
    display: flex;
    gap: 20px;

    &-link {
      text-transform: uppercase;
    }
  }

  &__header {
      @media only screen and (max-width: $bp-large-1) {
        order: 1;
      }
      &-list {
        @media only screen and (max-width: $bp-large-1) {
          width: 160px;
          background-color: $color-primary-dark;
          color: $color-primary-light;
          flex-direction: column;
          gap: 20px 0;
          padding: 25px 35px;
          position: absolute;
          left: 0;
          top: 0;
          transform: translateY(-110%);
          transition: transform .5s ease;
          z-index: 5;

          &.menu--open {
            transform: translateY(0);
          }
        }
      }
   }

   &__footer {
      @media only screen and (max-width: $bp-large-2) {
        padding: 50px 0;
        text-align: center;
      }

      &-list {
        @media only screen and (max-width: $bp-large-2) {
          flex-direction: column;
        }
      }
   }
}