.about__inner {
  display: flex;
  align-items: center;
}

.about__content {
  min-width: 370px;

  @media only screen and (max-width: $bp-largest) {
    min-width: 300px;
  }

  @media only screen and (max-width: $bp-large) {
    min-width: 200px;
  }

  @media only screen and (max-width: $bp-medium) {
    min-width: 170px;
  }

  @media only screen and (max-width: $bp-small) {
    min-width: 233px;
  }

  &-text {
    margin-bottom: 15px;
  }
}

.about__list {
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding: 0 0 48px 110px;
  flex-basis: 930px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-image: url(../images/candle-decor.png);
    width: 22px;
    height: 30px;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: $color-primary-dark;
    width: 1000%;
    height: 1px;
    left: 22px;
    bottom: 14px;
  }

  @media only screen and (max-width: $bp-largest) {
    padding-left: 20px;
  }

  @media only screen and (max-width: $bp-large) {
    gap: 0 10px;
  }

  @media only screen and (max-width: $bp-medium) {
    align-items: flex-end;
    gap: 0 5px;
  }
}

.about__item {
  &-img {
    margin-bottom: 10px;

    @media only screen and (max-width: $bp-large) {
      &--1,
      &--3 {
        width: 120px;
      }

      &--2 {
        width: 190px;
      }

      @media only screen and (max-width: $bp-medium) {
        &--1,
        &--3 {
          width: 80px;
        }

        &--2 {
          width: 140px;
        }
      }

      @media only screen and (max-width: $bp-small) {
        &--2,
        &--3 {
          display: none;
        }
      }
    }
  }

  &-text {
    font-size: 11px;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }
}
