.menu__btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  background-color: transparent;

  span {
    height: 1px;
    width: 100%;
    background-color: $color-primary-dark;
  }

    @media only screen and (max-width: $bp-large-1) {
      display: flex;
   }
}

.btn {
  padding: 18px 54px;
  background-color: $color-secondary;
  font-family: $font-family-primary;
  font-size: $default-font-size;

    @media only screen and (max-width: $bp-medium) {
      font-size: $responsive-font-size; 
      padding: 14px 40px;
  }
}