.menu__btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 1.875rem;
  height: 1.563rem;
  background-color: transparent;

  span {
    height: 1px;
    width: 100%;
    background-color: $color-primary-dark;
  }

    @media only screen and (max-width: $bp-large-1) {
      display: flex;
   }
}

.btn {
  padding: 1.125rem 3.375rem;
  background-color: $color-secondary;
  font-family: $font-family-primary;
  font-size: $default-font-size;
}