.feedback-descr {
  margin-right: 20px;
}

.feedback__content {
  padding-bottom: 110px;
  .swiper-pagination {
    bottom: 50px;
    &-bullet {
      background-color: $color-secondary-light;
      width: 53px;
      height: 4px;
      border-radius: 0;
      opacity: 1;
      &-active {
        background-color: $color-primary-dark;
      }
    }
  }
}

.feedback__item {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 20px;
  align-items: center;
  &-social {
    margin-bottom: 12px;
  }
  &-name {
    font-family: $font-family-secondary;
    margin-bottom: 15px;
    font-size: 16px;
  }
  &-text {
    margin-bottom: 15px;
  }
  &-content {
    padding-bottom: 70px;
    @media only screen and (max-width: $bp-largest) {
      width: 270px;
    }
    @media only screen and (max-width: $bp-largest-1) {
      width: 235px;
    }
    @media only screen and (max-width: $bp-large) {
      padding-bottom: 45px;
    }
  }
  &-btn {
    position: absolute;
    bottom: 10px;
  }
  &-img {
    @media only screen and (max-width: $bp-largest) {
      width: 270px;
    }
    @media only screen and (max-width: $bp-largest-1) {
      width: 200px;
    }
  }
  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: 270px auto;
  }
  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: 270px auto;
  }
  @media only screen and (max-width: $bp-largest-1) {
    grid-template-columns: 200px 235px;
  }
}

.feedback-slider {
  width: 760px;
  overflow: hidden;
  @media only screen and (max-width: $bp-big) {
    width: 690px;
  }
  @media only screen and (max-width: $bp-large) {
    width: 447px;
  }
}

.feedback-inner.section-inner {
  @media only screen and (max-width: $bp-big) {
    grid-template-columns: 260px auto;
  }
  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 200px auto;
  }
}
