.accordeon {
  &__item {
    background-color: $color-light;
    margin-bottom: 10px;
  }
  &__title {
    font-family: $font-family-secondary;
    font-size: 16px;
    display: block;
    background-color: transparent;
    padding: 16px 50px 16px 13px;
    position: relative;
    width: 100%;
    text-align: left;

    &::after {
      content: "";
      background-image: url(../images/arrow.svg);
      width: 16px;
      height: 16px;
      position: absolute;
      right: 26px;
      top: 17px;
    }

    &--active::after {
      transform: rotate(180deg);
    }
  }
  &__text {
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s, max-height 0.3s;
    &-padding {
      padding: 20px 40px;
    }
    &--visible {
      opacity: 1;
    }
  }
}
