.steps__title {
  @media only screen and (max-width: $bp-largest-1) {
    font-size: 30px;
  }
  @media only screen and (max-width: $bp-large) {
    font-size: 15px;
  }
}

.steps__list {
  gap: 70px 25px;
  counter-reset: number;

  @media only screen and (max-width: $bp-big) {
    gap: 25px 5px;
  }

  @media only screen and (max-width: $bp-largest-1) {
    gap: 25px 35px;
  }

  @media only screen and (max-width: $bp-medium) {
    gap: 25px 20px;
  }
}

.steps__item {
  display: flex;
  gap: 40px;
  list-style-type: none;
  position: relative;

  @media only screen and (max-width: $bp-big) {
    gap: 0 5px;
  }

  @media only screen and (max-width: $bp-largest-1) {
    gap: 0 20px;
  }

  @media only screen and (max-width: $bp-medium) {
    gap: 0 15px;
  }

  &::before {
    counter-increment: number;
    content: "0" counter(number);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 30px;
    color: $color-secondary-light;
    font-family: $font-family-secondary;

    @media only screen and (max-width: $bp-largest-1) {
      font-size: 20px;
    }
  }

  &--even::before {
    left: auto;
    right: 0;
  }

  &:nth-child(n + 10)::before {
    content: counter(number);
  }
  &-text {
    flex-basis: 174px;
    padding-bottom: 40px;
  }

  &-img {
    @media only screen and (max-width: $bp-largest-1) {
      width: 85px;
      object-fit: cover;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 66px;
    }
  }
}
