.steps__list {
  gap: 70px 25px;
  counter-reset: number;
}

.steps__item {
  display: flex;
  gap: 40px;
  list-style-type: none;
  position: relative;

  &::before {
    counter-increment: number;
    content: "0" counter(number);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 30px;
    color: $color-secondary-light;
    font-family: $font-family-secondary;
  }

  &--even::before {
    left: auto;
    right: 0;
  }

  &:nth-child(n + 10)::before {
    content: counter(number);
  }
  &-text {
    flex-basis: 174px;
    padding-bottom: 40px;
  }
}
