body {
  color: $color-black;
  font-family: $font-family-primary;
  font-size: $default-font-size;
  font-weight: 400;
  line-height: 1.2;

  @media only screen and (max-width: $bp-large) {
    font-size: $responsive-font-size;
  }
}


.heading-tertiary {
  font-family: $font-family-secondary;
  font-size: 1.875rem; //30px

    @media only screen and (max-width: $bp-large) {
      font-size: 1.25rem; //20px
  }

      @media only screen and (max-width: $bp-medium) {
        font-size: 0.938rem; //15px
    }
}

.paragraph {
    @media only screen and (max-width: $bp-large) {
      font-size: $responsive-font-size; //10px
  }

    @media only screen and (max-width: $bp-medium) {
      font-size: 0.5rem; //8px
  }
}